* {
    margin: 0px;
}

body {
    font-family: Work Sans;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px 0px 150px;

}

.title-side {
    display: flex;
    align-items: center;

}

.title-side>img {
    width: 50px;
    height: 30px;
}

.title-gamer {
    padding-left: 20px;
    font-size: 25px;
    font-weight: bolder;
}

.top-word-fraction-g {
    color: rgb(230, 108, 108);
}

.nav-bar {
    display: flex;
    justify-content: space-between;

}

.nav-bar ul {
    display: flex;
}

.nav-bar ul>li {
    font-size: 15px;
    list-style: none;
}

.for-margin {
    margin-right: 20px;
}

.follow-us-section {
    display: flex;
    background-color: rgb(197, 196, 196);
    margin-top: -10px;
    padding: 10px 0px 10px 20px;
    border-radius: 10px;
}

.follow-us-section>div {
    margin-right: 20px;
}

/*Banner Side */
.banner {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin: 20px 150px 0px 150px;
}

.banner-writing-part {
    padding-top: 100px;
}

.banner-top-line {
    font-size: 25px;
    font-weight: bolder;
}

.banner-goat {
    margin-top: 10px;
    font-size: 50px;
    font-weight: bolder;
    color: blueviolet;
}

.banner-before-ul {
    margin-top: 20px;
}

.banner-before-ul>ul>li {
    margin-top: 8px;
    margin-left: -15px;
}

.banner-button {
    margin-top: 20px;
}

.btn-sign-in {
    background-color: rgb(248, 94, 133);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    color: white;
}

.btn-go-rogue {
    margin-left: 15px;
    background-color: rgb(31, 182, 241);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    color: white;
}

.banner-image>img {
     width: 450px; 
}

/*we are gamer part */
.we-are-gamer {
    margin: 100px 150px 0px 150px;
    display: flex;
    align-items: center;
    column-gap: 140px;
}

.we-are-gamer-img>img {
    width: 500px;
}

.we-are-gamer-writing h3 {
    font-size: 30px;
    font-weight: bolder;
    text-align: right;
    color: rgb(226, 43, 165);
}

.we-are-gamer-writing p {
    margin-top: 15px;
    text-align: right;
}

.we-are-gamer-btn {
    margin-top: 20px;
    text-align: right;
}

.we-are-gamer-writing button {
    background-color: rgb(248, 94, 133);
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 20px;
}

.we-are-gamer-writing h6 {
    margin-top: 20px;
    text-align: right;
    font-size: 15px;
    font-weight: 200;
}

.we-are-gamer-writing h4 {
    margin-top: 10px;
    text-align: right;
    font-size: 20px;
    font-weight: 400px;
}

/*Online Games Part */

.online-games-section {
    margin: 100px 150px 0px 150px;
}

.online-games-section>h1 {
    text-align: center;
}

.online-games-section>h1>span {
    color: blueviolet;
}

.online-games-section>p {
    margin-top: 15px;
    text-align: center;
}

.online-games-images-and-description {
    margin-top: 30px;
}

.online-games-images-and-description {
    display: flex;
    justify-content: space-between;
}

.online-games-images-and-description img {
    width: 200px;
    height: 200px;
}

.online-games-images-and-description p {
    margin-top: 15px;
    width: 200px;
    font-size: 14px;
}

/*play instantly part */
.play-instantly {
    margin: 100px 150px 0px 150px;
    display: flex;
    justify-content: space-between;
}

.play-instantly-writing {
    padding: 150px 120px 0px 120px;
}

.play-instantly-writing h2 {
    margin-bottom: 5px;
    font-size: 30px;
    text-align: right;
    font-weight: bolder;
}

.play-instantly-writing>h2>span {
    color: rgb(230, 17, 148);
}

.play-instantly-writing p {
    margin-top: 10px;
    text-align: right;
}

.image-horse {
    width: 400px;
    padding-left: 100px;

}

.image-girl {
    width: 250px;
    margin-top: -220px;
    margin-left: -25px;
}

/*mini icon */
.mini-icon-top-line {
    margin: 100px 150px 0px 150px;
}

.mini-icon-second-line {
    margin: 30px 215px 0px 215px;
}


.mini-icon-top-line,
.mini-icon-second-line {
    display: flex;
    justify-content: space-between;

}

.mini-img-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid white;
    border-radius: 30px;
    padding: 5px 10px;
}

.mini-img-1>h6 {
    padding-left: 20px;
}

.mini-img-1:hover {
    border: 2px solid rgb(238, 82, 160);
    color: rgb(209, 22, 116);
}

/*Footer */

.footer {
    margin-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(3, 3, 77);
}

.and-footer {
    padding-top: 100px;
    justify-content: center;
}

.footer-title-right-fraction {
    color: white;
}

.footer-word-container {
    margin-top: 30px;
    color: white;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.footer-logo-size {
    width: 30px;
    margin-right: 15px;
}

.last-logo {
    margin-right: 0px;
}

.footer-logo {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.footer-term-and-other {
    margin-top: 30px;
    color: white;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.play-game {
    margin-top: 20px;
    color: white;
    text-align: center;
}

/*For Mobile View ..................................................*/
@media screen and (max-width:425px) {

    .top-bar {
        margin: 100px 50px 0px 50px;
        flex-direction: column;
        justify-content: space-between;
    }

    .nav-bar {
        margin-top: 30px;
        flex-direction: column;
        justify-content: center;
    }

    .follow-us-section {
        margin-top: 30px;
        justify-content: center;
    }

    /*banner */

    .banner {
        margin: 100px 50px 0px 50px;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .banner-image {
        padding-left: 30px;
        text-align: center;
        width: 300px;
    }

    .banner-image>img {
        width: 100%;
    }

    .banner-writing-part {
        margin-top: -60px;
        text-align: center;
    }

    .banner-top-line {
        font-size: 20px;
    }

    .banner-goat {
        font-size: 30px;
    }

    .banner-before-ul>ul>li {
        font-size: 15px;
        list-style: none;
    }

    /*gamer */
    .we-are-gamer {
        margin: 100px 50px 0px 50px;
        flex-direction: column;
    }

    .we-are-gamer-img {
        width: 300px;
    }

    .we-are-gamer-img>img {
        width: 100%;
    }

    .we-are-gamer-writing>h3 {
        font-size: 20px;
        text-align: center;
    }

    .we-are-gamer-writing>p {
        text-align: center;
    }

    .we-are-gamer-btn {
        text-align: center;
    }

    .we-are-gamer-writing>h6 {
        text-align: center;
        font-size: 12px;
    }

    .we-are-gamer-writing>h4 {
        text-align: center;
        font-size: 14px;
    }

    /* online games */

    .online-games-section {
        margin: 100px 50px 0px 50px;
    }

    .online-games-section>h1 {
        font-size: 20px;
    }

    .online-games-section>p {
        font-size: 12px;
    }

    .online-games-images-and-description {
        flex-direction: column;
        text-align: center;
        row-gap: 20px;
    }

    .online-games-images-and-description>div>p {
        margin: auto;
    }

    /* Play Instantly */
    .play-instantly {
        margin: 100px 50px 0px 50px;
        flex-direction: column;
    }

    .play-instantly-writing {
        padding: 0px;
    }

    .play-instantly-writing>h2 {
        text-align: center;
        font-size: 16px;
    }

    .play-instantly-writing>p {
        text-align: center;
        font-size: 14px;
        padding: 0px;
    }

    .play-instantly-images {
        margin-top: 30px;
        width: 200px;
    }

    .image-horse {
        width: 100%;
        text-align: center;
        padding-left: 70px;
    }

    .image-girl {
        width: 120px;
        margin-left: 10px;
        margin-bottom: -30px;
    }

    /* mini icon */
    .mini-icon {
        margin: 100px 50px 0px 50px;
    }

    .mini-img-1>img {
        width: 20px;
    }

    .mini-icon-top-line {
        display: grid;
        grid-template-columns: 80px 80px 80px;
        column-gap: 30px;
        margin-left: auto;
    }

    .mini-img-1>h6 {
        padding-left: 5px;
    }

    .mini-icon-second-line {
        display: none;
    }

    /* Footer */
    .footer {
        margin-top: 100px;
               
    }

    .footer-word-container {
        display: grid;
        grid-template-columns: 70px 70px 70px;
        row-gap: 10px;
    }

    .footer-word {
        font-size: 12px;
    }

    .footer-term-and-other {
        display: grid;
        grid-template-columns: 100px 100px;
        row-gap: 10px;
        column-gap: 50px;
    }

    .footer-term-and-other>div {
        font-size: 8px;
    }

    .play-game {
        margin-top: 20px;
        font-size: 8px;
    }

    .play-game>span {
        display: block;
    }
}

